div{
    background-color: darkorange;
    width: 250px;
    height: 500px;

    margin: top 0px;
    }
 
body{
    margin: 0px;
    padding: 0px;
}

.green{
    background-color: green;
    width: 200px;
}