
.header ul li{
    list-style: none;

}

.header ul{
   
    background-color: gray;
    font-family: monospace;
    font-style: normal;
    font-size: 20px;
}


.header ul li ul{
    display: none ;
}


ul{
    display: flex;
    margin: 0;
    padding: 0;
}

ul li:hover>ul{
    display: block;

}
ul li ul {
    position: absolute;
    width: 200px;
    display: none;
    flex-direction: column;
}

ul li ul a{
    display: block;
}

ul li ul li:hover>ul{
    display: block;
    
}


.sub-menu ul{
    right: 0;
    top: 0;
    transform: translateX(100%);
}
